.name-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;

}

.name-hi {
    color: var(--green);
    font-family: var(--fira);
    opacity: 0.5;
    animation-duration: 0.5s;
    animation-name: slideInFromTopOpacityHalf;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.name-my-name {
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: var(--inter);
    color: var(--lightgray);
    font-size: 64px;
    font-weight: 500;
    animation-duration: 0.5s;
    animation-name: slideInFromTop;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.name-my-proffesion {
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: var(--inter);
    color: var(--gray);
    font-size: 64px;
    font-weight: 500;
    animation-duration: 0.5s;
    animation-name: slideInFromTop;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

.name-description {
    max-width: 55%;
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: var(--inter);
    color: var(--gray);
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    animation-duration: 0.5s;
    animation-name: slideInFromTop;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.name-contact-button {
    color: var(--green);
    text-decoration: none;
    padding: 12px 24px;
    margin-top: 30px;
    border: solid 1px var(--green);
    border-radius: 3px;
    font-family: var(--fira);
    font-size: 16px;
    transition-duration: 0.5s;
    animation-duration: 0.5s;
    animation-name: slideInFromTop;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
}

.name-contact-button:hover {
    background-color: rgba(100, 255, 218, 0.18);
}

@keyframes slideInFromTopOpacityHalf {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0.5;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (max-width: 640px) {
    .name-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 180px;
        margin-bottom: 180px;
        height: 60vh;
    }

    .name-my-name {
        font-size: 46px;
    }

    .name-my-proffesion {
        font-size: 46px;
    }

    .name-description {
        max-width: 100%;
    }
}